.containerFormLogin {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.LoginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 737px;
    max-width: 400px;
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .24) 0px 10px 20px;

}

.LoginHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 33.3%;
    width: 100%;
}

.LoginHeader img {
    object-fit: contain;
    max-width: 234px;
    width: 100%;
}

.LoginHeader h3 {
    color: var(--blue-font);
    font-size: min(25px, 7vw);
    font-weight: 600;
    text-align: center;
}

.contentLogin {
    height: 50%;
    width: 100%;
}

.FormLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100%;
}

.contentInputLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
}

.contentInputLogin label {
    color: var(--blue-font);
    font-size: min(15px, 8vw);
    font-weight: 400;
    padding-bottom: 8px;
}

.BodyInput input {
    width: 100%;
    border-radius: 10px;
    padding: 11.2px 11px;
    border: 1px solid var(--blue-font);
    transition: border .3s ease-in;
}

.BodyInput input:focus {
    outline: none;
}

.btnLogin {
    width: 100%;
    padding: 12px 11px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: var(--blue-font);
    color: var(--white-font);
    font-size: 17px;
    font-weight: 400;
    border: 1px solid var(--blue-font);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btnLogin:hover {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);


}

.LoginFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 16.7%;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-wrap: pretty;
}

.LoginFooter a {
    color: var(--blue-font);
    transition: all .3s ease-in-out;
}

.LoginFooter a:hover {
    color: var(--blue);
}

.LoginFooter span {
    color: var(--blue-font);
}

/* Para tener transparencia y cambiar el color de fondo al mismo tiempo cuando el navegador autocomplete los datos */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}