header{
    background-color: var(--bg-color);
    width: 100%;
    height: 120px;
}

.NavBarHome{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
    
}

.containerNavHome{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    
}

.containerNavHome .LogoHome img{
    max-width: 150px;
}

.NavHome{
    display: flex;
    justify-content: center;
    align-items: center;
}

.LinkNavHome{
    text-decoration: none;
    color: var(--blue-font);
    transition: .3s ease-out;
}

.LinkNavHome:hover{
    color: var(--blue);
}

.menuHome {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.menuHome li{
    padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
}

.LoginBTN{
    display: flex;
    align-items: center;
    gap: 20px;
}


.LoginBTN::before{
    content: '';
    width: 1px;
    height: 39px;
    background: #BCC8DB;
    display: block;
    
}

.BTNStart{
    background-color: var(--blue-font);
    height: 45px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease;
    border:1px solid var(--blue-font);
}

.StartNow{
    color: var(--white-font);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .3s ease;
}

.BTNStart:hover{
    background-color: transparent;
    border:1px solid var(--blue-font);
}

.StartNow:hover{
    color: var(--blue-font);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 30px;
    height: 3px;
    margin: 4px 0;
    background-color: #000; /* Color de la barra */
    transition: 0.4s;
}

/*Convertir las barras en una x*/
.hamburger.NavHomeOpen .bar1 {
    transform: rotate(-45deg) translate(-10px, 10px);
}

.hamburger.NavHomeOpen .bar2 {
    opacity: 0;
}

.hamburger.NavHomeOpen .bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

@media screen and (max-width: 1300px) {
    .containerNavHome {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .navHome {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 120px;
        right: 0;
        width: 100%;
        background-color: var(--bg-color);
        
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: height 0.4s ease-out, opacity 0.4s ease-out;
    }

    .navHome.NavHomeOpen {
        height:80vh;
        opacity: 1;
    }

    .hamburger {
        display: flex;
    }

    .menuHome {
        flex-direction: column;
        padding: 20px;
        height: 100%;
        justify-content: space-between;
        
    }


    .menuHome li:last-child{
        width: 70%;
        text-align: center;
    }

    .LinkNavHome{ /*Centrar texto link del login*/
        justify-content: center;
        font-size: 16px;
    }

    .LoginBTN::before{/*Ocultar la linea del before*/
        display: none;
    }
}