.lazyLoadSectionHome{
    opacity: 0;
    transform: translateY(60%);
    transition: opacity 1s ease-out, transform .8s ease;
}

.lazyLoadSectionHome.visible{
    opacity: 1;
    transform: translateY(0);
}

