/*--Seccion Home--*/
.ContainerHome {
    padding: 0 20px 60px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    background-position-y: -250px;

}

.ContentHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContentHome h3 {
    margin-bottom: 35px;
    text-wrap: balance;
}

.HomeTextWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.HomeTextWrapper h3 {
    color: var(--blue-font);
    font-size: min(40px, 8vw);
    font-weight: 600;
}

.AppoBTNContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.HomeBTN {
    background-color: var(--blue-font);
    height: 55px;
    width: 241px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease;
    border: 1px solid var(--blue-font);
    text-decoration: none;
}

.HomeBTN:hover {
    background-color: transparent;
    border: 1px solid var(--blue-font);
}

.HomeBTN span {
    text-decoration: none;
    color: var(--white-font);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .3s ease;
}

.HomeBTN span:hover {
    color: var(--blue-font);
}

.imgMedHome {
    width: 100%;
    height: 100%;
    margin-top: 61px;
    display: flex;
    justify-content: center;
    align-items: end;

}

.imgMedHome img {
    object-fit: cover;
    max-height: 580px;
    min-height: 314px;
    min-width: 50%;
    border-radius: 15px;
    border: 10px solid var(--white);
    box-shadow: rgba(0, 0, 0, .24) 0px 10px 20px;
}

/*--Seccion About--*/

.ContainerAbout {
    padding: 60px 20px 60px 20px;
}

.ContentAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContentAbout h3 {
    margin-bottom: 10px;
    text-wrap: balance;
    text-align: center;
}

.AboutTextWrapper h3 {
    color: var(--blue-font);
    font-size: min(35px, 8vw);
    font-weight: 600;
}

.AboutContent {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.AboutTextContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.AboutBTNContainer {
    width: 100%;
    display: flex;
}

.imgAbout {
    width: 50%;
    background-color: var(--blue-font);
    clip-path: circle();

}

.imgContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imgAbout img {
    max-width: 100%;
    height: auto;
}

.textContentAbout p {
    margin: 0;
    text-wrap: balance;
    text-align: left;
}

.AboutTextContent p {
    color: var(--blue-font);
    font-weight: 300 !important;
    font-size: min(20px, 5vw);
    font-weight: 400;
}

/*--Seccion EPS's*/

.ContainerEPS {
    padding: 60px 0 60px 0;
}

.ContentEPS {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContentEPS h3 {
    margin-bottom: 10px;
    text-wrap: balance;
    text-align: center;
}

.EPSTextWrapper h3 {
    color: var(--blue-font);
    font-size: min(35px, 8vw);
    font-weight: 600;
}

@keyframes slideLogo {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.CarouselLogosEPS {
    overflow: hidden;
    width: 100%;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
}

.CarouselLogosEPS::before,
.CarouselLogosEPS::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.CarouselLogosEPS::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.CarouselLogosEPS::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.LogoSlider {
    display: inline-flex;
    align-items: center;
    animation: slideLogo 10s infinite linear;

}

.contentLogo img {
    width: 150px;
    margin: 0 40px;
}

/*--Seccion DocMe ChatBot*/

.ContainerChatBotHome {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), var(--bg-color));
    padding: 60px 20px 60px 20px;
}

.ContentChatBotHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContentChatBot h3 {
    margin-bottom: 10px;
    text-align: center;
}

.ChatBotTextWrapper h3 {
    color: var(--blue-font);
    font-size: min(35px, 8vw);
    font-weight: 600;
}


.PTextChatBotHome p {
    padding: 20px;
    margin: 0;
    text-wrap: balance;
    text-align: center;
    color: var(--blue-font);
    font-weight: 300;
    font-size: 16px;
    font-weight: 300;
}

.ContainerAnimatadCharBotHome {
    max-width: 100%;
    height: 100%;
    margin-top: 61px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.ContainerAnimatadCharBotHome video {
    object-fit: contain;
    max-width: 433px;
    min-width: 50%;
    max-height: 852px;
    border-radius: 15px;
    border: 10px solid var(--white);
    box-shadow: rgba(0, 0, 0, .24) 0px 10px 20px;

}

/*--Seccion servicios--*/

.ContainerServicesHome {
    padding: 60px 20px 60px 20px;
}

.ContentServicesHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContentServices h3 {
    margin-bottom: 10px;
    text-align: center;
}

.ServicesTextWrapper h3 {
    color: var(--blue-font);
    font-size: min(35px, 8vw);
    font-weight: 600;
}

.PTextServicesHome p {
    padding: 20px;
    margin: 0;
    text-wrap: balance;
    text-align: center;
    color: var(--blue-font);
    font-weight: 300;
    font-size: 16px;
    font-weight: 300;
}

.CardServicesHome {
    margin-top: 61px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: center;
}

.CardService {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background: var(--bg-gray);

}

.CardService:nth-child(odd) {
    flex-direction: row;
}

.CardService:nth-child(even) {
    flex-direction: row-reverse;
}

.imgCardService {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCardService img {
    width: 90px;

}

.CardContentService {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cardServiceTitle h4 {
    color: var(--blue-font);
    font-size: min(25px, 7vw);
    font-weight: 600;
}

.CardServiceDescription p {
    color: var(--blue-font);
    font-weight: 300;
    font-size: min(16px, 5vw);
}

/*--Seccion como funciona--*/
.ContainerHowWorkHome{
    padding: 176px 5%  60px 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), var(--bg-color));
}

.HeaderHWHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.HeaderHWHome h2{
    color: var(--blue-whiteBG);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}

.HeaderHWHome h3{
    color: var(--blue-font);
    font-size: min(35px, 8vw);
    font-weight: 600;
    margin-bottom: 10px;
}

.HeaderHWHome p{
    color: var(--blue-font);
    font-weight: 300;
    font-size: min(16px, 5vw);
}


.WrapperHowWorkHome{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.IMGHowWorkHome{
    width: 50%;
}


.ContainerFigureHome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}


.ContentFigureHW {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    background-color: var(--blue-dark);
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border-radius: 200px;
    overflow: hidden;
}

.ContentFigureHW img{
    object-fit: cover;
    height: 100%;
    max-width: 100%;

}

.ContentHWHome{
    width: 50%;
    margin-top: 20px;
}

.CardHWHome{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.imgCardHW{
    min-width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--white-font);
}

.imgCardHW img{
    width: 30px;
}


.cardHWTitle h4{
    color: var(--blue-font);
    font-size: min(24px, 5.5vw);
    font-weight: 500;
}

.CardHWDescription p{
    color: var(--blue-font);
    font-weight: 300;
    font-size: min(16px, 4.5vw);
    margin-top: 10px;
}

/*--Seccion testimonios--*/

.ContainerTestimonial{
    padding: 60px 5%  60px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.TextWrapperTestimonial{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.TextWrapperTestimonial h2{
    color: var(--blue-whiteBG);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}

.TextWrapperTestimonial h3{
    color: var(--blue-font);
    font-size: min(35px, 8vw);
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    text-wrap:pretty;
}

.ContainerSliderTesti{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Testimonial{
    display: flex;
    max-width: 840px;
    width: 100%;
    overflow: hidden;
    padding: 50px 0;
    background-color: #fff;
}

.Testimonial .TestiContent{
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    

}

.Testimonial .image{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.Testimonial .Slide{
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.Slide p{
    color: var(--blue-font);
    text-align: center;
    padding: 0 12%;
    font-size: min(25px, 6vw);
    font-weight: 500;
}

.Slide .SlideTestiDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SlideTestiDetails .name{
    color: var(--blue-whiteBG);
    font-size: min(22px, 6vw);
    font-weight: 500;
}

.SlideTestiDetails .city{
    color: var(--blue-font);
    font-size: min(16px, 5vw);
    font-weight: 500;
}

.ContainerSliderTesti > button {
    background-color: var(--bg-color);
    font-size: 50px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    color: var(--blue-font);
    border: none;
    cursor: pointer;
    font-size: 34px;
    transition: all .3s ease-in-out;
}

.ContainerSliderTesti > button:hover {
    background-color: var(--blue-dark);

}




@media screen and (max-width: 1000px) {

    
    .ContainerFigureHome{
        justify-content: center;
        margin-top: 40px;
    }
    
    .IMGHowWorkHome{
        width: 100%;
    }
    
    .ContentHWHome{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {


    .AboutContent {
        gap: 20px;
    }

    .AboutTextContent {
        width: 100%;
    }

    .textContentAbout p{
        text-align: center;
    }

    .imgAbout {
        width: 100%;
    }

    .AboutBTNContainer {
        justify-content: center;
    }

    .CarouselLogosEPS::before,
    .CarouselLogosEPS::after {
        width: 100px;
    }


    .HeaderHWHome{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .CardService {
        flex-direction: column !important;
        width: 100%;
    }

    .ContainerSliderTesti{

        -ms-flex-order: 5;

    }
    
}

@media screen and (max-width: 450px) {
    .ContainerFigureHome{
        margin: 0;
        align-items: start;
    }
}