/*--Seccion Home--*/
.ContainerHome{
    padding: 0 20px 0 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center right;
    background-position-y:-250px ;
    
}

.ContentHome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContentHome h3{
    margin-bottom: 35px;
    text-wrap:balance;
}

.HomeTextWrapper{
    display: flex;
    justify-content: center;
    text-align: center;
}

.HomeTextWrapper h3{
    color: var(--blue-font);
    font-size: min(40px, 10vw);
    font-weight: 500;
}

.AppoBTNContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.HomeBTN{
    background-color: var(--blue-font);
    height: 55px;
    width: 241px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease;
    border:1px solid var(--blue-font);
    text-decoration: none;
}

.HomeBTN:hover{
    background-color: transparent;
    border:1px solid var(--blue-font);
}

.HomeBTN span{
    text-decoration: none;
    color: var(--white-font);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .3s ease;
}

.HomeBTN span:hover{
    color: var(--blue-font);
}

.imgMedHome{
    width: 100%;
    height: 100%;
    margin-top: 61px;
    display: flex;
    justify-content: center;
    align-items: end;

}

.imgMedHome img{
    object-fit: cover;
    max-height: 580px;
    min-height: 314px;
    min-width: 50%;
    border-radius: 15px;
    border: 10px solid var(--white);
    box-shadow: rgba(0, 0, 0, .24) 0px 10px 20px;
}

/*--Seccion About--*/

.ContainerAbout{
    padding: 0 20px 0 20px;
}

.ContentAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContentAbout h3{
    margin-bottom: 10px;
    text-wrap:balance;
    text-align: center;
}

.AboutTextWrapper h3{
    color: var(--blue-font);
    font-size: min(40px, 10vw);
    font-weight: 500;
}

.AboutContent{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.AboutTextContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.AboutBTNContainer{
    width: 100%;
    display: flex;
}

.imgAbout{
    width: 50%;
    background-color: var(--blue-font);
    clip-path: circle();
    
}

.imgContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imgAbout img{
    max-width: 100%;
    height: auto;
}

.textContentAbout p{
    margin: 0;
    text-wrap:balance;
    text-align: left;
}

.AboutTextContent p{
    color: var(--blue-font);
    font-size: min(20px, 5vw);
    font-weight: 400;
}

/*--Seccion EPS's*/


.ContainerEPS{
    padding: 0 20px 0 20px;
}

.ContentEPS{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContenEPS h3{
    margin-bottom: 10px;
    text-wrap:balance;
    text-align: center;
}

.EPSTextWrapper h3{
    color: var(--blue-font);
    font-size: min(40px, 10vw);
    font-weight: 500;
}


@media screen and (max-width: 670px) {
    
    .AboutContent{
        gap: 20px;
    }

    .AboutTextContent{
        width: 100%;
    }

    .imgAbout{
        width: 100%;
    }

    .AboutBTNContainer{
        justify-content: center;
    }
}
