@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Raleway&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

:root{
  --azul-bg: #164757;
  --light-black: #1E2229;
  --white-font: #DEDEDE;
  --light-color-font: #9295AF;
  --blue-font: #272B4C;
  --black-font: #212529;
  --white: #fff;
  --green:#128F8B;
  --lead: hsl(162, 2%, 56%);
  --blue: #1B81FE;
  --violet: hsl(272, 92%, 32%);
  --text-white: hsl(0, 0%, 100%);
  --text-light-gray:hsl(0, 0%, 90%);
  --bg-color:#E8F1FF;
  --glass-bg-color:hsla(0, 0%, 100%, 0.05);
  --border-color:hsla(0, 0%, 100%,0.25);
  --blur:blur(10px);
  --button-hover-color:hsla(0, 0%, 0%, 0.3);

}
