@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Raleway&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

:root{
--azul-bg: #164757;
--white-font: #DEDEDE;
--blue-font: #0F5268;
--black-font: #212529;
--white: #fff;
}

body{
  background-color: var(--azul-bg);
}

