@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url('https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2') format('woff2');
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

:root{
  --azul-bg: #164757;
  --blue-dark:#97D9EE;
  --light-black: #1E2229;
  --bg-gray:#F6F7FB;
  --white-font: #DEDEDE;
  --light-color-font: #9295AF;
  --blue-font: #272B4C;
  --black-font: #212529;
  --white: #fff;
  --green:#128F8B;
  --lead: hsl(162, 2%, 56%);
  --blue: #1a82fe;
  --blue-hover: #0a58ca;
  --blue-whiteBG: #0154B7;
  --violet: hsl(272, 92%, 32%);
  --text-white: hsl(0, 0%, 100%);
  --text-light-gray:hsl(0, 0%, 90%);
  --bg-color:#E8F1FF;
  --glass-bg-color:hsla(0, 0%, 100%, 0.05);
  --border-color:hsla(0, 0%, 100%,0.25);
  --blur:blur(10px);
  --button-hover-color:hsla(0, 0%, 0%, 0.3);
}


.fallback{
  height: 50vh;
  opacity: 0;
}

