/*--Seccion como funciona--*/
.ContainerHowWorkHome{
    padding: 176px 5%  60px 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), var(--bg-color));
}

.HeaderHWHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.HeaderHWHome h2{
    color: var(--blue-whiteBG);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}

.HeaderHWHome h3{
    color: var(--blue-font);
    font-size: min(35px, 8vw);
    font-weight: 600;
    margin-bottom: 10px;
}

.HeaderHWHome p{
    color: var(--blue-font);
    font-weight: 300;
    font-size: min(16px, 5vw);
}


.WrapperHowWorkHome{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.IMGHowWorkHome{
    width: 50%;
}


.ContainerFigureHome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}


.ContentFigureHW {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    background-color: var(--blue-dark);
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border-radius: 200px;
    overflow: hidden;
}

.ContentFigureHW img{
    object-fit: cover;
    height: 100%;
    max-width: 100%;

}

.ContentHWHome{
    width: 50%;
    margin-top: 20px;
}

.CardHWHome{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.imgCardHW{
    min-width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--white-font);
}

.imgCardHW img{
    width: 30px;
}


.cardHWTitle h4{
    color: var(--blue-font);
    font-size: min(24px, 5.5vw);
    font-weight: 500;
}

.CardHWDescription p{
    color: var(--blue-font);
    font-weight: 300;
    font-size: min(16px, 4.5vw);
    margin-top: 10px;
}

/*--CSS responsive--*/
@media screen and (max-width: 1000px) {

    
    .ContainerFigureHome{
        justify-content: center;
        margin-top: 40px;
    }
    
    .IMGHowWorkHome{
        width: 100%;
    }
    
    .ContentHWHome{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .HeaderHWHome{
        text-align:center;
    }
}

@media screen and (max-width: 450px) {
    .ContainerFigureHome{
        margin: 0;
        align-items: start;
    }
}