.containerFormSignUp {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.SignUpWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .24) 0px 10px 20px;
    max-width: 700px;
    min-height: 90vh;
    width: 100%;
}

.HeaderSignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 25%;
    width: 100%;
}

.HeaderSignUp img {
    object-fit: contain;
    max-width: 234px;
    width: 100%;
}

.HeaderSignUp h3 {
    color: var(--blue-font);
    font-size: min(25px, 7vw);
    font-weight: 600;
    text-align: center;
}

.ContentSignUp {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FormSignUp {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    height: 100%;
    width: 100%;
}

.SignUpInput {
    width: 50%;
}

.SignUpInput.email{
    width: 100%;
}

.InputContent{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.InputContent label{
    color: var(--blue-font);
    font-size: min(15px, 8vw);
    font-weight: 400;
    padding-bottom: 8px;
}


.InputContent input {
    width: 100%;
    border-radius: 10px;
    padding: 11.2px 11px;
    border: 1px solid var(--blue-font);
    transition: border .3s ease-in;
}

.InputContent input:focus {
    outline: none;
}

.InputContent.email input{
    
}

.btnSignUp {
    width: 70%;
    padding: 12px 11px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: var(--blue-font);
    color: var(--white-font);
    font-size: 17px;
    font-weight: 400;
    border: 1px solid var(--blue-font);
    cursor: pointer;
    transition: all .3s ease-in-out;
}


.btnSignUp:hover {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.FooterSignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    height: 16.7%;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-wrap: pretty;
}

.FooterSignUp a{
    color: var(--blue-font);
    transition: all .3s ease-in-out;
}

.FooterSignUp a:hover{
    color: var(--blue);
}

.FooterSignUp span {
    color: var(--blue-font);
}

/*responsive para tablets y celulares*/
/*tablet mas pequena*/
@media screen and (max-width: 500px) {
    .SignUpInput{
        width: 100%;
    }
}